* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    border-right: 1px black solid;
    width: 100px;
    text-align: center;
}
body {
    background-color: gray;
}
nav {
    background-color: bisque;
}
nav a {
    text-decoration: none;
    color: brown;
    display: block;
}
nav ul {
    text-transform: uppercase;
    line-height: 70px;
    position: relative;
    list-style: none;
}
nav ul li {
    display: inline-block;
    padding: 0 20px 0 20px;
}
nav ul ul {
    display: none;
    position: absolute;
}
nav ul li:hover > ul {
    display: inherit;
}
nav ul li li {
    border-bottom: 1px black solid;
    width: 105px;
    background-color: brown;
    display: list-item;
    position: relative;
    left: -75px;
    text-align: center;
}
nav ul ul li li{
    position: relative;
    left: 125px;
    top: -70px;
}
nav ul ul li li:first-child {
    border-left: 1px solid black;
}